<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Thu 29th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://nclrse-training.github.io/git-novice/" target="_blank">Getting started with version control using Git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Break for coffee</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://nclrse-training.github.io/git-novice/" target="_blank">Collaborative science with Git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Break for lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>1:30 pm</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/" target="_blank">Getting started with Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>3:30 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>		  
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Fri 30th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/" target="_blank">Exploring and handling data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Break for coffee</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/" target="_blank">Loops and functions</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Break for lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>1:30 pm</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/" target="_blank">Solving and preventing problems</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>3:30 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>